# C++ Build folders
build/
Build/
BUILD/

# VS Code CMake build directories
out/
cmake-build-*/

# Common C++ build artifacts
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# imgui
vendor/imgui/**
!vendor/imgui/README.md


