# C++ Build folders
build/
Build/
BUILD/
build_tests/

# VS Code CMake build directories
out/
cmake-build-*/

# Common C++ build artifacts
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# imgui
vendor/imgui/**
!vendor/imgui/README.md


python_prototype/LMUFFB/__pycache__/ffb_engine.cpython-312.pyc
python_prototype/LMUFFB/__pycache__/ffb_output.cpython-312.pyc
python_prototype/LMUFFB/__pycache__/shared_memory.cpython-312.pyc
tests/build-tests/
.specstory/.gitignore
.specstory/.project.json
.specstory/history/2025-12-06_08-39Z-please-fix-this-\[build]-main-cpp.md
tmp/**
tests/build/
build_test/
build_pr_*/
