# C++ Build folders
build/
Build/
BUILD/
build_tests/

# VS Code CMake build directories
out/
cmake-build-*/

# Common C++ build artifacts
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# vendor
vendor/


python_prototype/LMUFFB/__pycache__/ffb_engine.cpython-312.pyc
python_prototype/LMUFFB/__pycache__/ffb_output.cpython-312.pyc
python_prototype/LMUFFB/__pycache__/shared_memory.cpython-312.pyc
tests/build-tests/
.specstory/.gitignore
.specstory/.project.json
.specstory/history/2025-12-06_08-39Z-please-fix-this-\[build]-main-cpp.md
tmp/**
tests/build/
build_test/
build_pr_*/
test_full_output.txt
test_output.txt
test_config.ini
test_stability.ini
tmp_invalid.ini
test_val.ini
tools/lmuffb_log_analyzer/tests/__pycache__/*
tools/lmuffb_log_analyzer/__pycache__/* 
tools/lmuffb_log_analyzer/analyzers/__pycache__/*
tests/__pycache__/test_create_context_script.cpython-311.pyc
scripts/__pycache__/create_context.cpython-311.pyc
tests/__pycache__/test_create_context_extended.cpython-312-pytest-8.0.0.pyc
tests/__pycache__/test_create_context_script.cpython-312-pytest-8.0.0.pyc

scripts/__pycache__/create_context.cpython-312.pyc
scripts/__pycache__/**
node_modules/.package-lock.json
node_modules/@lydell/node-pty/index.js
node_modules/@lydell/node-pty/LICENSE
node_modules/@lydell/node-pty/node-pty.d.ts
node_modules/@lydell/node-pty/package.json
node_modules/@lydell/node-pty/README.md
node_modules/@lydell/node-pty-win32-x64/LICENSE
node_modules/@lydell/node-pty-win32-x64/package.json
node_modules/@lydell/node-pty-win32-x64/README.md
node_modules/@lydell/node-pty-win32-x64/lib/conpty_console_list_agent.js
node_modules/@lydell/node-pty-win32-x64/lib/eventEmitter2.js
node_modules/@lydell/node-pty-win32-x64/lib/index.js
node_modules/@lydell/node-pty-win32-x64/lib/interfaces.js
node_modules/@lydell/node-pty-win32-x64/lib/terminal.js
node_modules/@lydell/node-pty-win32-x64/lib/types.js
node_modules/@lydell/node-pty-win32-x64/lib/utils.js
node_modules/@lydell/node-pty-win32-x64/lib/windowsConoutConnection.js
node_modules/@lydell/node-pty-win32-x64/lib/windowsPtyAgent.js
node_modules/@lydell/node-pty-win32-x64/lib/windowsTerminal.js
node_modules/@lydell/node-pty-win32-x64/lib/shared/conout.js
node_modules/@lydell/node-pty-win32-x64/lib/worker/conoutSocketWorker.js
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/conpty_console_list.node
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/conpty_console_list.pdb
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/conpty.node
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/conpty.pdb
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/pty.node
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/pty.pdb
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/winpty-agent.pdb
node_modules/@lydell/node-pty-win32-x64/prebuilds/win32-x64/winpty.pdb
package-lock.json
